@import url("https://fonts.googleapis.com/css2?family=Shippori+Antique+B1&display=swap");

* {
  font-family: "Shippori Antique B1", sans-serif;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.calculator {
  background-color: rgb(122, 122, 122);
  border: #161616 solid 5px;
  box-shadow: #161616 3px 3px;
}

.display {
  background-color: #557262;
  grid-column: span 4;
  width: auto;
  height: 100px;
  box-shadow: inset #34463c 5px 5px;
  display: flex;
  align-items: center;
  justify-content: end;
  border: solid #161616 4px;
}

.display p {
  color: #212c26;
  font-size: 60px;
  padding: 10px;
  font-family: monospace;
}

.buttons {
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(4, 1fr);
  padding: 10px;
}

.grid-col-span-2 {
  grid-column: span 2;
  width: auto;
}

button {
  font-size: 30px;
  background-color: rgb(63, 63, 63);
  color: white;
  border: #161616 solid 4px;
  box-shadow: #161616 0px 3px;
  transition: ease-out 0.1s;
  height: 100px;
  width: 100px;
}

/* -------------------------------Clear button section------------------------------------ */

.clear-button {
  background-color: rgb(212, 83, 51);
}

.clear-button:hover {
  background-color: rgb(182, 59, 28);
}

.clear-button:active {
  background-color: rgb(155, 53, 25);
}

/* -------------------------------Result button section------------------------------------ */

.result-button {
  background-color: #d3ab29;
}

.result-button:hover {
  background-color: #a88921;
}

.result-button:active {
  background-color: #88701f;
}

/* -------------------------------Overall buttons section------------------------------------ */

button:hover {
  cursor: pointer;
  background-color: rgb(44, 44, 44);
}

button:active {
  cursor: pointer;
  background-color: rgb(29, 29, 29);
  box-shadow: none;
}

img {
  height: 50px;
  width: 50px;
  margin: 3px;
  filter: invert(100%);
}

.flex-button {
  display: flex;
  align-items: center;
  justify-content: center;
}
